<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}

      <a href="javascript:history.back();"><img src="{{site.baseurl}}/assets/icons/back.png" alt="" width="30px"/></a>

      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{page.title}}</h2>
          <!-- <small class="date">{{page.date | date_to_string}}</small> -->
          <small class="date">{{page.date | date: "%Y.%m.%d"}}</small>
          <div class="categories">
            {% for c in page.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="content">{{content}}</div>
      </section>

      {% include footer.html %}
      
    </main>
    {% include category-modal.html%}
  </body>
</html>
