<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %} 

      <div class="content">{{content}}</div>

      <section class="articles">
        {% for post in site.posts %}
        <article class="article">
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a>
          </h2>
          <!-- <small class="date">{{post.date | date_to_string}}</small> -->
          <small class="date">{{post.date | date: "%Y.%m.%d"}}</small>
          <div class="categories">
            {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>

      <br>

      {% include footer.html %}
      
    </main>
    {% include category-modal.html%}
  </body>
</html>
